# Configurações de Banco de Dados (MySQL SquareCloud)
# DATABASE_URL=mysql+aiomysql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL=mysql+aiomysql://root:password@localhost:3306/cerebro

# Configurações de Armazenamento
VAULT_PATH=./backend/vault
THUMBNAIL_PATH=./backend/vault/thumbnails
MAX_UPLOAD_MB=500

# Segurança
SECRET_KEY=sua_chave_secreta_aqui
DEBUG=True
